@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&family=Shrikhand&display=swap");
/*pages mixin*/
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&family=Shrikhand&display=swap");
.course_text {
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
          flex-grow: 1;
}

.course_text h3 {
  font-size: 15px;
  margin-bottom: 5px;
  width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.course_text p {
  font-size: 12px;
  width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*responsive*/
/*pages mixin*/
.course_text {
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
          flex-grow: 1;
}

.course_text h3 {
  font-size: 15px;
  margin-bottom: 5px;
  width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.course_text p {
  font-size: 12px;
  width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*responsive*/
footer {
  background: #353535;
  padding: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

footer h1 {
  font-family: 'Shrikhand', cursive;
  font-size: 18px;
  color: #fff;
  font-weight: 300;
  padding-bottom: 20px;
}

footer a {
  color: #fff;
  line-height: 1.5;
  font-size: 14px;
}

footer .fas {
  padding-right: 12px;
}

/*loading circle*/
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes "spin1" {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes "spin1" {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@-webkit-keyframes position {
  to {
    z-index: 9999;
  }
}

@keyframes position {
  to {
    z-index: 9999;
  }
}

.circle--container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  -webkit-animation: fadeIn 1.5s, position 1.5s;
          animation: fadeIn 1.5s, position 1.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.circle--container .circle_cont2 {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  z-index: 1001;
}

.circle--container .circle_cont2 #circle1 {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50px;
  width: 50px;
  margin: -25px 0 0 -25px;
  border: 4px #FF79DA solid;
  border-top: 4px #9356DC solid;
  border-bottom: 4px #9356DC solid;
  border-radius: 50%;
  -webkit-animation: spin1 1s infinite linear;
  animation: spin1 1s infinite linear;
}

.oma_page {
  -webkit-animation: fadeIn 2s;
          animation: fadeIn 2s;
}

.oma_page header {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 0;
}

.oma_page header .location_status {
  margin: 0;
  padding: 15px 0;
}

.oma_page header .oma_logo {
  -webkit-box-shadow: 0 40px 50px #dfdfdf;
          box-shadow: 0 40px 50px #dfdfdf;
  margin-bottom: 2px;
}

.oma_page header .oma_header-container {
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: #dfdfdf;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  gap: 3px;
}

.oma_page .text_acc_container {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
}

.oma_page .text_acc_container .text_description {
  width: 90%;
}

.oma_page .book_restaurant {
  background-color: #f2f2f2;
  text-align: center;
  padding: 50px;
}

.oma_page .book_restaurant_explore h2 {
  margin: 0;
  margin-bottom: 50px;
}

.oma_page .book_restaurant_explore p {
  font-weight: 300;
}

.oma_page .book_restaurant_explore_btn {
  color: white;
  background-image: -webkit-gradient(linear, right bottom, left top, from(#9356dc), color-stop(#b35cdc), color-stop(#cf64dc), color-stop(#e86edb), to(#ff79da));
  background-image: linear-gradient(to left top, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  padding: 20px;
  max-width: 181px;
  margin: 0 auto;
  border-radius: 25px;
  font-weight: bold !important;
  margin-top: 30px;
  text-align: center;
}

.oma_page .book_restaurant_explore_btn:hover {
  -webkit-box-shadow: 0px 1px 14px -1px #000000;
          box-shadow: 0px 1px 14px -1px #000000;
}

.how_it_works {
  padding: 50px 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  gap: 25px;
}

.how_it_works_cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f6f6;
  color: #000;
  font-weight: bold;
  width: 90%;
  margin: 0 auto;
  gap: 25px;
  -webkit-box-shadow: 0px 1px 14px -7px #000000;
          box-shadow: 0px 1px 14px -7px #000000;
  padding: 20px;
  border-radius: 20px;
  position: relative;
}

.how_it_works_cont:before, .how_it_works_cont2:before, .how_it_works_cont3:before {
  content: '1';
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  position: absolute;
  left: -12px;
  width: 24px;
  height: 24px;
  color: #fff;
  background-color: #9356DC;
  border-radius: 50px;
}

.how_it_works_cont2:before {
  content: "2" !important;
}

.how_it_works_cont3:before {
  content: "3" !important;
}

.how_it_works_cont .fas {
  color: grey;
  padding-left: 10px;
}

.how_it_works_cont .fa-store {
  color: #9356DC;
}

.restaurant {
  background-color: #f2f2f2;
  padding: 60px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  gap: 17px;
}

.restaurant_cont {
  -webkit-box-shadow: 0px 1px 14px -7px #000000;
          box-shadow: 0px 1px 14px -7px #000000;
  border-radius: 15px;
  overflow: hidden;
}

.restaurant_cont .img_acc_container {
  width: 330px;
  height: 170px;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

.restaurant_cont .img_acc_container:after {
  content: 'New';
  display: block;
  width: 80px;
  position: absolute;
  top: 13px;
  right: 13px;
  background: #99e2d0;
  text-align: center;
  padding: 5px;
  border-radius: 3px;
  color: #139273;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 15px;
}

.restaurant_cont4 .img_acc_container:after, .restaurant_cont3 .img_acc_container:after {
  display: none  !important;
}

.restaurant_cont .text_acc_container {
  background-color: #fff;
  padding: 20px 12px;
  position: relative;
}

.restaurant_cont .text_acc_container h3 {
  margin: 0;
}

.restaurant_cont .text_acc_container p {
  padding-top: 5px;
}

.restaurant_cont .text_acc_container .coloured-heart {
  font-size: x-large;
  position: relative;
  visibility: visible;
  cursor: pointer;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-style: normal;
  background: -webkit-linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  visibility: hidden;
}

.restaurant_cont .text_acc_container .border-heart {
  font-size: x-large;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.restaurant_cont .text_acc_container .heart {
  display: inline-block;
  position: relative;
}

.restaurant_cont .text_acc_container .heart:hover .coloured-heart {
  visibility: visible;
}

.restaurant_cont .text_acc_container .heart:hover .border-heart {
  visibility: hidden;
}

.restaurant .restaurant_cont1 .img_acc_container {
  background-image: url("images/restaurants/theFullPallete.jpg");
}

.restaurant .restaurant_cont2 .img_acc_container {
  background-image: url("images/restaurants/theEnchantedPlate.jpg");
}

.restaurant .restaurant_cont3 .img_acc_container {
  background-image: url("images/restaurants/Bastille.jpg");
}

.restaurant .restaurant_cont4 .img_acc_container {
  background-image: url("images/restaurants/theGourmand.jpg");
}

/*pages mixin*/
.course_text {
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
          flex-grow: 1;
}

.course_text h3 {
  font-size: 15px;
  margin-bottom: 5px;
  width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.course_text p {
  font-size: 12px;
  width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*responsive*/
footer {
  background: #353535;
  padding: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

footer h1 {
  font-family: 'Shrikhand', cursive;
  font-size: 18px;
  color: #fff;
  font-weight: 300;
  padding-bottom: 20px;
}

footer a {
  color: #fff;
  line-height: 1.5;
  font-size: 14px;
}

footer .fas {
  padding-right: 12px;
}

.oma_page_gourmand .oma_header, .oma_page_bastille .oma_header, .oma_page_fullpallete .oma_header, .oma_page_enchantedplate .oma_header {
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  gap: 50px;
}

.oma_page_gourmand .oma_header .oma_logo, .oma_page_bastille .oma_header .oma_logo, .oma_page_fullpallete .oma_header .oma_logo, .oma_page_enchantedplate .oma_header .oma_logo {
  width: 70%;
  padding: 20px 0;
}

.oma_page_gourmand .category_name, .oma_page_bastille .category_name, .oma_page_fullpallete .category_name, .oma_page_enchantedplate .category_name {
  text-transform: uppercase;
  font-weight: 300;
  color: #000;
  position: relative;
  margin-top: 30px;
}

.oma_page_gourmand .category_name:after, .oma_page_bastille .category_name:after, .oma_page_fullpallete .category_name:after, .oma_page_enchantedplate .category_name:after {
  content: '';
  display: block;
  background-color: #99e2d0;
  width: 40px;
  height: 2px;
  margin-top: 7px;
  margin-bottom: 14px;
}

.oma_page_gourmand .text_acc_container, .oma_page_bastille .text_acc_container, .oma_page_fullpallete .text_acc_container, .oma_page_enchantedplate .text_acc_container {
  background-color: #fff;
  padding: 20px 12px;
  position: relative;
  -webkit-box-shadow: 0px 1px 14px -7px #000000;
          box-shadow: 0px 1px 14px -7px #000000;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}

.oma_page_gourmand .text_acc_container .checkmark, .oma_page_bastille .text_acc_container .checkmark, .oma_page_fullpallete .text_acc_container .checkmark, .oma_page_enchantedplate .text_acc_container .checkmark {
  width: 60px;
  background-color: #99e2d0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -60px;
}

.oma_page_gourmand .text_acc_container .checkmark .fa-check-circle, .oma_page_bastille .text_acc_container .checkmark .fa-check-circle, .oma_page_fullpallete .text_acc_container .checkmark .fa-check-circle, .oma_page_enchantedplate .text_acc_container .checkmark .fa-check-circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 28px;
  color: #fff;
  -webkit-transition: 0.6s ease-out;
  transition: 0.6s ease-out;
}

.oma_page_gourmand .text_acc_container:hover, .oma_page_bastille .text_acc_container:hover, .oma_page_fullpallete .text_acc_container:hover, .oma_page_enchantedplate .text_acc_container:hover {
  cursor: pointer;
}

.oma_page_gourmand .text_acc_container:hover .fa-check-circle:before, .oma_page_bastille .text_acc_container:hover .fa-check-circle:before, .oma_page_fullpallete .text_acc_container:hover .fa-check-circle:before, .oma_page_enchantedplate .text_acc_container:hover .fa-check-circle:before {
  -webkit-transform: rotateZ(720deg);
          transform: rotateZ(720deg);
  -webkit-transition: 1s;
  transition: 1s;
}

.oma_page_gourmand .text_acc_container:hover .checkmark, .oma_page_bastille .text_acc_container:hover .checkmark, .oma_page_fullpallete .text_acc_container:hover .checkmark, .oma_page_enchantedplate .text_acc_container:hover .checkmark {
  -webkit-transform: translateX(-60px);
          transform: translateX(-60px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.oma_page_gourmand .text_acc_container:hover .price, .oma_page_bastille .text_acc_container:hover .price, .oma_page_fullpallete .text_acc_container:hover .price, .oma_page_enchantedplate .text_acc_container:hover .price {
  padding-right: 60px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.oma_page_gourmand .text_acc_container:hover .course_text h3, .oma_page_gourmand .text_acc_container:hover .course_text p, .oma_page_bastille .text_acc_container:hover .course_text h3, .oma_page_bastille .text_acc_container:hover .course_text p, .oma_page_fullpallete .text_acc_container:hover .course_text h3, .oma_page_fullpallete .text_acc_container:hover .course_text p, .oma_page_enchantedplate .text_acc_container:hover .course_text h3, .oma_page_enchantedplate .text_acc_container:hover .course_text p {
  width: 150px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.oma_page_gourmand .coloured-heart, .oma_page_bastille .coloured-heart, .oma_page_fullpallete .coloured-heart, .oma_page_enchantedplate .coloured-heart {
  font-size: x-large;
  position: relative;
  visibility: visible;
  cursor: pointer;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-style: normal;
  background: -webkit-linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  visibility: hidden;
}

.oma_page_gourmand .border-heart, .oma_page_bastille .border-heart, .oma_page_fullpallete .border-heart, .oma_page_enchantedplate .border-heart {
  font-size: x-large;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.oma_page_gourmand .heart, .oma_page_bastille .heart, .oma_page_fullpallete .heart, .oma_page_enchantedplate .heart {
  display: inline-block;
  position: relative;
}

.oma_page_gourmand .heart:hover .coloured-heart, .oma_page_bastille .heart:hover .coloured-heart, .oma_page_fullpallete .heart:hover .coloured-heart, .oma_page_enchantedplate .heart:hover .coloured-heart {
  visibility: visible;
}

.oma_page_gourmand .heart:hover .border-heart, .oma_page_bastille .heart:hover .border-heart, .oma_page_fullpallete .heart:hover .border-heart, .oma_page_enchantedplate .heart:hover .border-heart {
  visibility: hidden;
}

.oma_page_gourmand .menu_display, .oma_page_bastille .menu_display, .oma_page_fullpallete .menu_display, .oma_page_enchantedplate .menu_display {
  background: #f6f6f6;
  padding: 40px 13px;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  margin-top: 220px;
}

.oma_page_gourmand .text_acc_container, .oma_page_bastille .text_acc_container, .oma_page_fullpallete .text_acc_container, .oma_page_enchantedplate .text_acc_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.oma_page_gourmand .price, .oma_page_bastille .price, .oma_page_fullpallete .price, .oma_page_enchantedplate .price {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.oma_page_gourmand .menu_conatiner, .oma_page_bastille .menu_conatiner, .oma_page_fullpallete .menu_conatiner, .oma_page_enchantedplate .menu_conatiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  gap: 25px;
  margin-bottom: 30px;
}

.oma_page_gourmand .btn, .oma_page_bastille .btn, .oma_page_fullpallete .btn, .oma_page_enchantedplate .btn {
  color: white;
  background-image: -webkit-gradient(linear, right bottom, left top, from(#9356dc), color-stop(#b35cdc), color-stop(#cf64dc), color-stop(#e86edb), to(#ff79da));
  background-image: linear-gradient(to left top, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  padding: 20px;
  max-width: 181px;
  margin: 0 auto;
  border-radius: 25px;
  font-weight: bold !important;
  margin-top: 30px;
  text-align: center;
}

.oma_page_gourmand .btn:hover, .oma_page_bastille .btn:hover, .oma_page_fullpallete .btn:hover, .oma_page_enchantedplate .btn:hover {
  -webkit-box-shadow: 0px 1px 14px -1px #000000;
          box-shadow: 0px 1px 14px -1px #000000;
}

.oma_page_gourmand .cont_title, .oma_page_bastille .cont_title, .oma_page_fullpallete .cont_title, .oma_page_enchantedplate .cont_title {
  position: relative;
}

.oma_page_gourmand .cont_title h1, .oma_page_bastille .cont_title h1, .oma_page_fullpallete .cont_title h1, .oma_page_enchantedplate .cont_title h1 {
  font-family: 'Shrikhand', cursive;
  font-size: 25px;
  position: relative;
  letter-spacing: 1px;
  display: inline-block;
  width: 90%;
}

.oma_page_gourmand .cont_title .heart, .oma_page_bastille .cont_title .heart, .oma_page_fullpallete .cont_title .heart, .oma_page_enchantedplate .cont_title .heart {
  display: inline-block;
}

.oma_page_gourmand .oma_banner, .oma_page_bastille .oma_banner, .oma_page_fullpallete .oma_banner, .oma_page_enchantedplate .oma_banner {
  width: 100%;
  height: 280px;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  z-index: -999;
  background-image: url(images/restaurants/theGourmand.jpg);
}

@-webkit-keyframes TransitionIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
  }
}

@keyframes TransitionIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
  }
}

.oma_page_gourmand .text_acc_container, .oma_page_bastille .text_acc_container, .oma_page_fullpallete .text_acc_container, .oma_page_enchantedplate .text_acc_container {
  -webkit-animation: TransitionIn 1s;
          animation: TransitionIn 1s;
}

.oma_page_gourmand .text_acc_container:nth-of-type(n+1), .oma_page_bastille .text_acc_container:nth-of-type(n+1), .oma_page_fullpallete .text_acc_container:nth-of-type(n+1), .oma_page_enchantedplate .text_acc_container:nth-of-type(n+1) {
  -webkit-animation: TransitionIn 2s;
          animation: TransitionIn 2s;
}

.oma_page_gourmand .text_acc_container:nth-of-type(n+2), .oma_page_bastille .text_acc_container:nth-of-type(n+2), .oma_page_fullpallete .text_acc_container:nth-of-type(n+2), .oma_page_enchantedplate .text_acc_container:nth-of-type(n+2) {
  -webkit-animation: TransitionIn 3s;
          animation: TransitionIn 3s;
}

.oma_page_gourmand .text_acc_container:nth-of-type(n+3), .oma_page_bastille .text_acc_container:nth-of-type(n+3), .oma_page_fullpallete .text_acc_container:nth-of-type(n+3), .oma_page_enchantedplate .text_acc_container:nth-of-type(n+3) {
  -webkit-animation: TransitionIn 3.5s;
          animation: TransitionIn 3.5s;
}

/*pages mixin*/
.course_text {
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
          flex-grow: 1;
}

.course_text h3 {
  font-size: 15px;
  margin-bottom: 5px;
  width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.course_text p {
  font-size: 12px;
  width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*responsive*/
footer {
  background: #353535;
  padding: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

footer h1 {
  font-family: 'Shrikhand', cursive;
  font-size: 18px;
  color: #fff;
  font-weight: 300;
  padding-bottom: 20px;
}

footer a {
  color: #fff;
  line-height: 1.5;
  font-size: 14px;
}

footer .fas {
  padding-right: 12px;
}

/*pages mixin*/
.course_text {
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
          flex-grow: 1;
}

.course_text h3 {
  font-size: 15px;
  margin-bottom: 5px;
  width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.course_text p {
  font-size: 12px;
  width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*responsive*/
footer {
  background: #353535;
  padding: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

footer h1 {
  font-family: 'Shrikhand', cursive;
  font-size: 18px;
  color: #fff;
  font-weight: 300;
  padding-bottom: 20px;
}

footer a {
  color: #fff;
  line-height: 1.5;
  font-size: 14px;
}

footer .fas {
  padding-right: 12px;
}

.oma_page_gourmand .oma_header, .oma_page_bastille .oma_header, .oma_page_fullpallete .oma_header, .oma_page_enchantedplate .oma_header {
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  gap: 50px;
}

.oma_page_gourmand .oma_header .oma_logo, .oma_page_bastille .oma_header .oma_logo, .oma_page_fullpallete .oma_header .oma_logo, .oma_page_enchantedplate .oma_header .oma_logo {
  width: 70%;
  padding: 20px 0;
}

.oma_page_gourmand .category_name, .oma_page_bastille .category_name, .oma_page_fullpallete .category_name, .oma_page_enchantedplate .category_name {
  text-transform: uppercase;
  font-weight: 300;
  color: #000;
  position: relative;
  margin-top: 30px;
}

.oma_page_gourmand .category_name:after, .oma_page_bastille .category_name:after, .oma_page_fullpallete .category_name:after, .oma_page_enchantedplate .category_name:after {
  content: '';
  display: block;
  background-color: #99e2d0;
  width: 40px;
  height: 2px;
  margin-top: 7px;
  margin-bottom: 14px;
}

.oma_page_gourmand .text_acc_container, .oma_page_bastille .text_acc_container, .oma_page_fullpallete .text_acc_container, .oma_page_enchantedplate .text_acc_container {
  background-color: #fff;
  padding: 20px 12px;
  position: relative;
  -webkit-box-shadow: 0px 1px 14px -7px #000000;
          box-shadow: 0px 1px 14px -7px #000000;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}

.oma_page_gourmand .text_acc_container .checkmark, .oma_page_bastille .text_acc_container .checkmark, .oma_page_fullpallete .text_acc_container .checkmark, .oma_page_enchantedplate .text_acc_container .checkmark {
  width: 60px;
  background-color: #99e2d0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -60px;
}

.oma_page_gourmand .text_acc_container .checkmark .fa-check-circle, .oma_page_bastille .text_acc_container .checkmark .fa-check-circle, .oma_page_fullpallete .text_acc_container .checkmark .fa-check-circle, .oma_page_enchantedplate .text_acc_container .checkmark .fa-check-circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 28px;
  color: #fff;
  -webkit-transition: 0.6s ease-out;
  transition: 0.6s ease-out;
}

.oma_page_gourmand .text_acc_container:hover, .oma_page_bastille .text_acc_container:hover, .oma_page_fullpallete .text_acc_container:hover, .oma_page_enchantedplate .text_acc_container:hover {
  cursor: pointer;
}

.oma_page_gourmand .text_acc_container:hover .fa-check-circle:before, .oma_page_bastille .text_acc_container:hover .fa-check-circle:before, .oma_page_fullpallete .text_acc_container:hover .fa-check-circle:before, .oma_page_enchantedplate .text_acc_container:hover .fa-check-circle:before {
  -webkit-transform: rotateZ(720deg);
          transform: rotateZ(720deg);
  -webkit-transition: 1s;
  transition: 1s;
}

.oma_page_gourmand .text_acc_container:hover .checkmark, .oma_page_bastille .text_acc_container:hover .checkmark, .oma_page_fullpallete .text_acc_container:hover .checkmark, .oma_page_enchantedplate .text_acc_container:hover .checkmark {
  -webkit-transform: translateX(-60px);
          transform: translateX(-60px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.oma_page_gourmand .text_acc_container:hover .price, .oma_page_bastille .text_acc_container:hover .price, .oma_page_fullpallete .text_acc_container:hover .price, .oma_page_enchantedplate .text_acc_container:hover .price {
  padding-right: 60px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.oma_page_gourmand .text_acc_container:hover .course_text h3, .oma_page_gourmand .text_acc_container:hover .course_text p, .oma_page_bastille .text_acc_container:hover .course_text h3, .oma_page_bastille .text_acc_container:hover .course_text p, .oma_page_fullpallete .text_acc_container:hover .course_text h3, .oma_page_fullpallete .text_acc_container:hover .course_text p, .oma_page_enchantedplate .text_acc_container:hover .course_text h3, .oma_page_enchantedplate .text_acc_container:hover .course_text p {
  width: 150px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.oma_page_gourmand .coloured-heart, .oma_page_bastille .coloured-heart, .oma_page_fullpallete .coloured-heart, .oma_page_enchantedplate .coloured-heart {
  font-size: x-large;
  position: relative;
  visibility: visible;
  cursor: pointer;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-style: normal;
  background: -webkit-linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  visibility: hidden;
}

.oma_page_gourmand .border-heart, .oma_page_bastille .border-heart, .oma_page_fullpallete .border-heart, .oma_page_enchantedplate .border-heart {
  font-size: x-large;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.oma_page_gourmand .heart, .oma_page_bastille .heart, .oma_page_fullpallete .heart, .oma_page_enchantedplate .heart {
  display: inline-block;
  position: relative;
}

.oma_page_gourmand .heart:hover .coloured-heart, .oma_page_bastille .heart:hover .coloured-heart, .oma_page_fullpallete .heart:hover .coloured-heart, .oma_page_enchantedplate .heart:hover .coloured-heart {
  visibility: visible;
}

.oma_page_gourmand .heart:hover .border-heart, .oma_page_bastille .heart:hover .border-heart, .oma_page_fullpallete .heart:hover .border-heart, .oma_page_enchantedplate .heart:hover .border-heart {
  visibility: hidden;
}

.oma_page_gourmand .menu_display, .oma_page_bastille .menu_display, .oma_page_fullpallete .menu_display, .oma_page_enchantedplate .menu_display {
  background: #f6f6f6;
  padding: 40px 13px;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  margin-top: 220px;
}

.oma_page_gourmand .text_acc_container, .oma_page_bastille .text_acc_container, .oma_page_fullpallete .text_acc_container, .oma_page_enchantedplate .text_acc_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.oma_page_gourmand .price, .oma_page_bastille .price, .oma_page_fullpallete .price, .oma_page_enchantedplate .price {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.oma_page_gourmand .menu_conatiner, .oma_page_bastille .menu_conatiner, .oma_page_fullpallete .menu_conatiner, .oma_page_enchantedplate .menu_conatiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  gap: 25px;
  margin-bottom: 30px;
}

.oma_page_gourmand .btn, .oma_page_bastille .btn, .oma_page_fullpallete .btn, .oma_page_enchantedplate .btn {
  color: white;
  background-image: -webkit-gradient(linear, right bottom, left top, from(#9356dc), color-stop(#b35cdc), color-stop(#cf64dc), color-stop(#e86edb), to(#ff79da));
  background-image: linear-gradient(to left top, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  padding: 20px;
  max-width: 181px;
  margin: 0 auto;
  border-radius: 25px;
  font-weight: bold !important;
  margin-top: 30px;
  text-align: center;
}

.oma_page_gourmand .btn:hover, .oma_page_bastille .btn:hover, .oma_page_fullpallete .btn:hover, .oma_page_enchantedplate .btn:hover {
  -webkit-box-shadow: 0px 1px 14px -1px #000000;
          box-shadow: 0px 1px 14px -1px #000000;
}

.oma_page_gourmand .cont_title, .oma_page_bastille .cont_title, .oma_page_fullpallete .cont_title, .oma_page_enchantedplate .cont_title {
  position: relative;
}

.oma_page_gourmand .cont_title h1, .oma_page_bastille .cont_title h1, .oma_page_fullpallete .cont_title h1, .oma_page_enchantedplate .cont_title h1 {
  font-family: 'Shrikhand', cursive;
  font-size: 25px;
  position: relative;
  letter-spacing: 1px;
  display: inline-block;
  width: 90%;
}

.oma_page_gourmand .cont_title .heart, .oma_page_bastille .cont_title .heart, .oma_page_fullpallete .cont_title .heart, .oma_page_enchantedplate .cont_title .heart {
  display: inline-block;
}

.oma_page_gourmand .oma_banner, .oma_page_bastille .oma_banner, .oma_page_fullpallete .oma_banner, .oma_page_enchantedplate .oma_banner {
  width: 100%;
  height: 280px;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  z-index: -999;
  background-image: url(images/restaurants/theGourmand.jpg);
}

@keyframes TransitionIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
  }
}

.oma_page_gourmand .text_acc_container, .oma_page_bastille .text_acc_container, .oma_page_fullpallete .text_acc_container, .oma_page_enchantedplate .text_acc_container {
  -webkit-animation: TransitionIn 1s;
          animation: TransitionIn 1s;
}

.oma_page_gourmand .text_acc_container:nth-of-type(n+1), .oma_page_bastille .text_acc_container:nth-of-type(n+1), .oma_page_fullpallete .text_acc_container:nth-of-type(n+1), .oma_page_enchantedplate .text_acc_container:nth-of-type(n+1) {
  -webkit-animation: TransitionIn 2s;
          animation: TransitionIn 2s;
}

.oma_page_gourmand .text_acc_container:nth-of-type(n+2), .oma_page_bastille .text_acc_container:nth-of-type(n+2), .oma_page_fullpallete .text_acc_container:nth-of-type(n+2), .oma_page_enchantedplate .text_acc_container:nth-of-type(n+2) {
  -webkit-animation: TransitionIn 3s;
          animation: TransitionIn 3s;
}

.oma_page_gourmand .text_acc_container:nth-of-type(n+3), .oma_page_bastille .text_acc_container:nth-of-type(n+3), .oma_page_fullpallete .text_acc_container:nth-of-type(n+3), .oma_page_enchantedplate .text_acc_container:nth-of-type(n+3) {
  -webkit-animation: TransitionIn 3.5s;
          animation: TransitionIn 3.5s;
}

.oma_page_bastille .oma_banner {
  background-image: url(images/restaurants/Bastille.jpg);
}

/*pages mixin*/
.course_text {
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
          flex-grow: 1;
}

.course_text h3 {
  font-size: 15px;
  margin-bottom: 5px;
  width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.course_text p {
  font-size: 12px;
  width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*responsive*/
footer {
  background: #353535;
  padding: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

footer h1 {
  font-family: 'Shrikhand', cursive;
  font-size: 18px;
  color: #fff;
  font-weight: 300;
  padding-bottom: 20px;
}

footer a {
  color: #fff;
  line-height: 1.5;
  font-size: 14px;
}

footer .fas {
  padding-right: 12px;
}

.oma_page_fullpallete .oma_banner {
  background-image: url(images/restaurants/theFullPallete.jpg);
}

/*pages mixin*/
.course_text {
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
          flex-grow: 1;
}

.course_text h3 {
  font-size: 15px;
  margin-bottom: 5px;
  width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.course_text p {
  font-size: 12px;
  width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*responsive*/
footer {
  background: #353535;
  padding: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

footer h1 {
  font-family: 'Shrikhand', cursive;
  font-size: 18px;
  color: #fff;
  font-weight: 300;
  padding-bottom: 20px;
}

footer a {
  color: #fff;
  line-height: 1.5;
  font-size: 14px;
}

footer .fas {
  padding-right: 12px;
}

.oma_page_enchantedplate .oma_banner {
  background-image: url(images/restaurants/theEnchantedPlate.jpg);
}

@media screen and (min-width: 1024px) {
  .oma_page {
    max-width: 100%  !important;
  }
  .oma_page .restaurant a {
    width: 30%;
  }
  .oma_page .img_acc_container {
    width: 100%;
  }
  .oma_page .restaurant {
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 60px 40px;
  }
  .oma_page .restaurant h2 {
    position: absolute;
    top: 10px;
  }
  .oma_page .restaurant_cont h3 {
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

@media screen and (min-width: 768px) {
  .restaurant h2 {
    position: relative;
    top: auto;
  }
}

@media screen and (min-width: 420px) {
  .oma_page .book_restaurant {
    padding: 20px;
  }
  .oma_page h2, .oma_page h3 {
    font-size: 20px;
  }
  .oma_page p {
    font-size: 16px;
  }
}

@media screen and (max-width: 320px) {
  h2, h3 {
    font-size: 18px;
  }
  p {
    font-size: 16px;
  }
  .oma_page .book_restaurant_explore h2 {
    margin-bottom: 20px !important;
  }
  .oma_page .restaurant {
    padding: 20px 5px;
  }
  .oma_page .book_restaurant {
    padding: 15px;
  }
  .oma_page .book_restaurant .book_restaurant_explore_btn {
    padding: 15px  !important;
  }
  .oma_page .img_acc_container {
    width: auto;
  }
  .oma_all_pages .oma_logo {
    width: 80% !important;
    padding: 10px 0 !important;
  }
  .oma_all_pages .oma_banner {
    height: 200px;
  }
  .oma_all_pages .menu_display {
    margin-top: 150px;
  }
  .oma_all_pages .cont_title h1 {
    font-size: 22px;
    letter-spacing: inherit;
  }
  .oma_all_pages .course_text {
    width: 80%;
  }
  .oma_all_pages .course_text p {
    width: 100px;
  }
  .oma_all_pages .heart_shape {
    right: 10px !important;
  }
}

.oma_page, .oma_page_gourmand, .oma_page_bastille, .oma_page_fullpallete, .oma_page_enchantedplate {
  max-width: 370px;
  margin: 0 auto;
  position: relative;
}

a, p {
  text-decoration: none;
  color: #000;
}

body h2, body p, body h3, footer h2, footer p, footer h3 {
  font-family: Roboto;
  line-height: 1;
}

body h1, body h2, body h3, body p, footer h1, footer h2, footer h3, footer p {
  margin: 0;
}
/*# sourceMappingURL=main.css.map */